@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Verberg de pijltjes bij number inputs in Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Verberg de pijltjes bij number inputs in Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.print-section-title {
  display: none;
}

.print-main-title {
  display: none;
}

@media print {
  @page {
    size: A4;
    margin: 2cm;
  }

  .no-print {
    display: none !important;
  }
  .tab-content {
    display: block !important;
  }
  .page-break {
    page-break-after: always;
    break-after: page;
  }

  .print-page {
    @apply flex flex-col items-center justify-center;
    width: 100%;
    box-sizing: border-box;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .print-section-title {
    @apply text-2xl font-bold mb-4;
    display: block;
  }

  .print-main-title {
    @apply text-4xl font-bold mb-2;
    display: block;
  }

  /* Gebruik volledige breedte en behoud kleuren */
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  /* Verwijder vaste schermhoogtes bij afdrukken */
  .h-screen,
  .min-h-screen {
    height: auto !important;
    min-height: auto !important;
  }
}
